resources:
  - repo: self

variables:
- group: APIM-VARS

stages:
  - stage: Build
    displayName: Build Container Image
    jobs:
      - job: Build
        displayName: Build and Push to ACR
        pool:
          vmImage: 'ubuntu-latest'
        steps:
        - checkout: self  # Checkout source code
        
        - task: Docker@2
          displayName: Build and Push Docker Image
          inputs:
            containerRegistry: '$(ACR_SERVICE_CONNECTION)'
            repository: '$(IMAGE_REPOSITORY)'
            command: 'buildAndPush'
            Dockerfile: '$(DOCKERFILE_PATH)'
            tags: |
              $(Build.BuildId)
              latest

        - task: Bash@3
          displayName: List Docker Images
          inputs:
            targetType: 'inline'
            script: |
              echo "=== Listing all Docker images on agent ==="
              docker image ls
              
        - task: AzureCLI@2
          displayName: List ACR Repository Images
          inputs:
            azureSubscription: '$(ACR_SERVICE_CONNECTION)'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              echo "=== Listing images in ACR repository ==="
              az acr repository list --name $(ACR_NAME) --output table
              echo ""
              echo "=== Listing tags for $(IMAGE_REPOSITORY) ==="
              az acr repository show-tags --name $(ACR_NAME) --repository $(IMAGE_REPOSITORY) --output table