SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# WSO2 SSO Configuration
WSO2_SSO_ENABLED=False
WSO2_CLIENT_ID=your_client_id
WSO2_CLIENT_SECRET=your_client_secret
WSO2_AUTHORIZATION_URL=https://your-wso2-server.com/oauth2/authorize
WSO2_TOKEN_URL=https://your-wso2-server.com/oauth2/token
WSO2_USERINFO_URL=https://your-wso2-server.com/oauth2/userinfo
WSO2_REDIRECT_URI=http://localhost:8000/web/sso/callback/
WSO2_SCOPE=openid profile email

YAQEEN_USERNAME=
YAQEEN_PASSWORD=
YAQEEN_BASE_URL=



NOOR_SOAP_ENDPOINT=
NOOR_SOAP_ACTION=

DISABILITY_SOAP_ENDPOINT=
DISABILITY_SOAP_ACTION=

SOCIAL_SECURITY_SOAP_ENDPOINT=
SOCIAL_SECURITY_SOAP_ACTION=

MOAHAL_SOAP_ENDPOINT=
MOAHAL_SOAP_ACTION=

QIYAS_SOAP_ENDPOINT=
QIYAS_SOAP_ACTION=

NATIONAL_ADDRESS_SOAP_ENDPOINT=
NATIONAL_ADDRESS_SOAP_ACTION=

# ATS ERP TEST
ATS_ERP_TEST_GATEWAY_URL=
ATS_ERP_TEST_API_KEY_NAME=x-api-key
ATS_ERP_TEST_API_KEY_VALUE=

# ATS ERP PRODUCTION
ATS_ERP_PROD_GATEWAY_URL=
ATS_ERP_PROD_API_KEY_NAME=x-api-key
ATS_ERP_PROD_API_KEY_VALUE=


#Ejadah ERP..
EJADAH_ERP_URL=
EJADAH_ERP_USERNAME=
EJADAH_ERP_PASSWORD=

SMS_GATEWAY_USER=
SMS_GATEWAY_SENDER_ID=
SMS_GATEWAY_KEY=
SMS_GATEWAY_URL=

#Noor DB config
NoorDB_host=
NoorDB_database=
NoorDB_username=
NoorDB_password=
NoorDB_charset=utf8
NoorDB_prefix=''
NoorDB_prefix_indexes=true
NoorDB_trust_server_certificate=true


# Banner Database Configuration
#PRODUCTION
# BANNER_DB_PROTOCOL=TCP
# BANNER_DB_HOST=
# BANNER_DB_PORT=1521
# BANNER_DB_SERVICE_NAME=
# BANNER_DB_USER=
# BANNER_DB_PASSWORD=
# BANNER_DB_ENABLED=True


#TESTING.....
BANNER_DB_PROTOCOL=TCP
BANNER_DB_HOST=
BANNER_DB_PORT=1521
BANNER_DB_SERVICE_NAME=
BANNER_DB_USER=
BANNER_DB_PASSWORD=
BANNER_DB_ENABLED=True


AZURE_OPEN_AI_ENDPOINT=
AZURE_OPEN_AI_KEY=
AZURE_OPEN_AI_MODEL_NAME=gpt-4.1
AZURE_OPEN_AI_API_VERSION=2024-12-01-preview
AZURE_OPEN_AI_API_DEPLOYMENT =gpt-4.1 