apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kv-seu-apim-config
  namespace: seu-apim
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "false"     # Changed to false for Service Principal
    clientID: "ea75c595-d978-4682-9f6d-612a014c68ba"   #"YOUR_IDENTITY_CLIENT_ID"    # Your workload identity client ID
    keyvaultName: "aks-vault3e49"
    cloudName: "AzurePublicCloud"     # Added cloud name
    tenantId: "1f00763a-1f87-473b-bba1-b6c746af03e4"
    objects: |
      array:
        - |
          objectName: test-key
          objectType: secret
        - |
          objectName: test-key02
          objectType: secret
        - |
          objectName: any-new-secret
          objectType: secret
        - |
          objectName: test-key03
          objectType: secret
        - |
          objectName: test-key04
          objectType: secret
        - |
          objectName: test-key05
          objectType: secret
        - |
          objectName: test-key06
          objectType: secret
        - |
          objectName: test-key07    # NEW
          objectType: secret
        - |
          objectName: test-key08    # NEW
          objectType: secret
        - |
          objectName: test-key09    # NEW
          objectType: secret
        - |
          objectName: test-key10    # ADD THIS
          objectType: secret
        - |
          objectName: test-key11    # ADD THIS
          objectType: secret
        - |
          objectName: test-key12    # ADD THIS
          objectType: secret
        - |
          objectName: test-key13    # ADD THIS
          objectType: secret
        - |
          objectName: test-key14    # ADD THIS
          objectType: secret
        - |
          objectName: test-key16    # ADD THIS
          objectType: secret
        - |
          objectName: test-key17    # ADD THIS
          objectType: secret
        - |
          objectName: new-secret    # ADD THIS
          objectType: secret
        - |
          objectName: seu-last-secret
          objectType: secret
          
  secretObjects:
  - data:
    - key: test-key
      objectName: test-key
    - key: test-key02
      objectName: test-key02
    - key: any-new-secret
      objectName: any-new-secret
    - key: test-key03
      objectName: test-key03
    - key: test-key04
      objectName: test-key04
    - key: test-key05
      objectName: test-key05
    - key: test-key06
      objectName: test-key06
    - key: test-key07              # NEW
      objectName: test-key07
    - key: test-key08              # NEW
      objectName: test-key08
    - key: test-key09              # NEW
      objectName: test-key09
    - key: test-key10              # ADD THIS
      objectName: test-key10
    - key: test-key11              # ADD THIS
      objectName: test-key11
    - key: test-key12              # ADD THIS
      objectName: test-key12
    - key: test-key13              # ADD THIS
      objectName: test-key13
    - key: test-key14              # ADD THIS
      objectName: test-key14
    - key: test-key16              # ADD THIS
      objectName: test-key16
    - key: test-key17              # ADD THIS
      objectName: test-key17
    - key: new-secret              # ADD THIS
      objectName: new-secret
    - key: seu-last-secret
      objectName: seu-last-secret
    secretName: azure-kv-seu-apim-config
    type: Opaque